*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 35px;
    background-color: green;
    padding: 50px;
}
header > a{
    color: white;
    text-decoration: none;
    margin: 0px 25px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header > a:hover{
    color: black;
}
section{
    height: 500px;
    background-color: beige;
    margin: 0px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section > h1{
    color: crimson;
    text-align: center;
    padding: 20px;
}
section > img{
    width: 500px;
    margin: 50px 400px;
}
footer{
    text-align: center;
    background-color: red;
    height: 30px;
    padding: 50px;
    margin: 0px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer > a{
    text-decoration: none;
    color: white;
    text-align: center;
}
footer > a:hover{
    color: black;
}